/* navbar */

#my-nav{
  padding:10px;
}

#my-nav img {
  height: 25px;
  vertical-align: middle;
}

#my-nav .a-nav-style a{
  display: inline-block;
  padding:6px 12px 0;
}

/* jumbotron */
#my-jumbotron{
  background-image: url('../assets/bg-banner-home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

#my-jumbotron .my-txt-form{
  padding: 50px 0;
}

/* form */
#my-jumbotron .my-form{
  border-radius: 3px;
  background-color: #fff;
  color: #000;
}

#my-jumbotron .my-form button{
  margin-bottom: 10px;
}

#my-jumbotron .my-form button img{
  float: left;
  height: 20px;
}

/* LOGHI */

#loghi{
  padding: 20px 0;
  background-color: #fafafa;
}

#loghi img{
  height: 50px;
}

/* deploy */

#deploy{
  padding-top: 20px;
}

.text-title-deploy{
  text-align: center;
  padding: 20px 0;
}

.deploy-list a{
  text-decoration: none;
  color:#5c6a88;
}

.deploy-list li{
  padding-top: 15px;
  font-size: 18px;
}

/* designed */

#designed{
  background-color: #fafafa;
}

#designed .droplet-img{
  margin: 35px 0 15px;
  height: 300px;
  max-width: 100%;
}

/* the_features */

#the_features{
padding: 40px 0;
}

/* Service */
#service{
  background-color: #002eaa;
  border: 1px solid red;
  color: #fff;
}

#service h2{
  padding: 30px 0 20px;
}
