body{
  font-family: 'Roboto', sans-serif;
}

/* navbar */

#my-nav{
  padding-top: 5px;
}

.my-nav-hamb{
  padding: 10px;
}

#my-nav li a{
  color: #5a6887;
}

#my-nav .btn{
  background-color: #fff;
  border-color: blue;
  color: blue;
}

#my-nav img {
  height: 25px;
}

.my-nav-class{
  margin-top: 6px;
}

/* jumbotron */

#my-jumbotron{
  background-image: url('../assets/bg-banner-home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

#my-jumbotron .my-txt-form{
  padding: 50px 0;
}

/* form */

#my-jumbotron .my-form{
  border-radius: 3px;
  background-color: #fff;
  color: #000;
  max-width: 100%;
}

#my-jumbotron .my-form h2:nth-last-child(2){
  color: blue;
}

#my-jumbotron h1{
  font-size: 60px;
}

#my-jumbotron p {
  font-size: 22px;
  color: #bbcdff;
}

#my-jumbotron span {
  margin-bottom: 20px;
}

#my-jumbotron .my-form button{
  margin-bottom: 10px;
}

#my-jumbotron .my-form button img{
  float: left;
  height: 20px;
}

/* LOGHI */

#loghi{
  padding: 20px 0;
  background-color: #fafafa;
}

#loghi img{
  height: 50px;
  margin-bottom: 25px;
}

#loghi h5{
  padding: 25px 0;
}

#loghi a{
  color: blue;
}

/* deploy */

#deploy{
  padding-top: 20px;
}

.text-title-deploy{
  color: #031c4e;
  text-align: center;
  padding: 20px 0;
}

.text-title-deploy p{
  font-size: 20px;
}

.deploy-list a{
  text-decoration: none;
  color:#5c6a88;
}

.deploy-list li{
  padding-top: 15px;
  font-size: 18px;
}

#deploy .col-md-6 p{
  margin-bottom: 40px;
}
/* designed */

#designed{
  background-color: #fafafa;
}

#designed .droplet-img{
  margin: 35px 0 15px;
  height: 300px;
  max-width: 100%;
}

#designed h2{
  margin: 30px 0 20px;
}

/* the_features */

#the_features h2{
padding: 40px 0 20px;
}


#the_features {
  padding-bottom: 50px;
}
/* Service */

#service{
  background-color: #002eaa;
  color: #fff;
  padding: 30px 0;
}

#service h2{
  padding-bottom:20px;
}

/* rockerbox */

#rockerbox{
  background-color: #fafafa;
  padding: 50px 0;
}

#rockerbox h2{
  padding-bottom: 50px;
}

.my-rockerbox{
  padding: 40px 0;
  background-color: #fff;
}

.my-rockerbox h4{
  padding-top: 15px ;
}

/* get btn */

#get_btn{
  padding: 40px 0;
  background-color: #002eaa;
  color: #fff;
}

#get_btn h2{
  padding-bottom: 15px;
}

/* footer */

footer{
  padding: 30px 0;
  background-color: #031c4e;
  color: #5a6887;
}

.list-footer{
  list-style: none;
}

.list-footer li h4{
  color: #fff;
}

.list-footer li a{
  color: #5a6887;
  padding: 10px 0;
}

.social i{
  font-size: 20px;
  padding-right: 10px;
}

.tooltip {
  color: #000;
  position: relative;
  width: 300px;
  padding: 10px;
  background: #fff;
  line-height: 1.45;
  border-radius: 5px;
}

.tooltip::before {
  content: '';
  position: absolute;
  bottom: 15px;
  right: -5px;
  width: 10px;
  height: 10px;
  background: #fff;
  /* Rotazione */
  transform: rotate(45deg);
}
